
//Color variables

$liquorice: #303332;
$acid: #F2E205;
$saucer: #CFE3DA;
$sherbet:#F1F1F3;
$solar: #FE8E38;
$white:#ffffff;
$ripple:#FD7D56; 
$candy:#F53E3E;
$bubble:#05F2DB;
$fizz:#0B42FF;
$melon:#35F29A;
$melon-hover:#2ae78f;
$dark-black:#141416;
$black:#000000;
$darker-black:#000720;
$lighter-black:#3B3E44;
$border-black:#08111F;
$light-black-card:#3B3E44;
$lighter-grey:#84878B;
$light-grey:#777E91;
$light-blue:#145CE6;
$login-blue: #316BFF;
$input-gray: #E7ECF3;
$border-blue:#316BFF;
$light-black-text:#43454D;
$border-grey:#ECF2F7;
$column-grey:#F9F9F9;
$light-black-label:#65676F;
$sauvignon:#F9F4F1;
$lighter-text-grey:#637177;
$dark-orange:#FF601B;
$line-color:#ECF2F6;
$primary-hover:#002ECB;
$placeholder-color:#B1B5C3;
$dark-grey:#E7E8EA;
$shadow-grey:#f2ebeb;
$light-input-grey:#F4F5F7;
$grey:#E7ECF3;
$card-header-pink:#FD7D56;
$card-font-black:#23262F;
$siderbar-card-border:#E8E8E8;
$points:#65676F;
$purple-color:#FF4171;
$light-purple-color:#fff7f7;
$slider-dots:#C2C2C2;
$light-gray-para:#777E90;
$table-body-heading:#464E5F;
$table-para:#B5B5C3;
$spin-dot:#E5B449;
$light-candy:#FE5564;
$light-gray:#A1A3A2;
$knowledge-para:#666680;
$split-item:#F5DCD7;
$split-text:#524FD5;
$sherbet-grey:#E5E5E5;
$grey-text:#AAA9A9;
$loading-dot:#353945;
$green-color:#95df70;
$table-border-dark:#0000006e;
$light-pink:#fff4f1;
$post-heading:#4E5D78;
$border-color:#e5e1e1;
$input-bg:#f2f2f2;
$nav-color:#061a51;
$success-color:#4BB543;
$error-color:#ff3333;

//custom templates colors
$custom-light-top-bg:#010001;
$yellow-color:#D0F813;
